<div class="icon-container" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="icons"><img src="../../../assets/add_alert_.svg" alt=""></div>
    <div class="icons"><img src="../../../assets/person_add_.svg" alt=""></div>
    <div class="icons"><img src="../../../assets/palette_.svg" alt=""></div>
    <div class="icons"><img src="../../../assets/image_.svg" alt=""></div>
    <div class="icons"><img src="../../../assets/archive_.svg" alt=""></div>
    <div class="icons"><img src="../../../assets/more_vert_.svg" alt=""></div>
</div>
