.notes-container{
    margin-left: 120px;
    margin-top: 20px;
}
.note{
    border: 1px solid rgba(200, 196, 196, 0.389);
    width: 240px;
    border-radius: 8px;
}
.note-things{
    margin: 5px;
}
.note-data{
    margin-left: 5px;
}