#username{
    width: 414px;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 70px;
    height: 90%;
    width: 700px;
    border: 1px solid rgb(228, 216, 216);
    padding: 60px 40px;
    border-radius: 6px;
}
.main_top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-button-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    width: 414px;
}
input{
    padding: 0px;
}
.name{
    display: flex;
}
.second-name{
    margin-left: 10px;
}
img{
    width: 200px;
    height: auto;
}
.form-register{
    width: 60%;
}
.image-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-block > p{
    text-align: center;
    font-size: 17px;
    width: 70%;
    margin-top: 20px;
    color: rgb(134, 129, 129);
}
#sign-in-button{
    margin-left: -13px;
}
/*FUNDOO logo colors*/
.f-blue{ color:#4285F4; }
.u-red{ color:#DB4437; }
.n-yellow{ color:#F4B400; }
.d-blue{color: #4285F4;}
.o-red{ color:#DB4437; }
.o-green{ color:#0F9D58; }
.password-hint{
    margin-top: -20px;
    margin-left: 10px;
    padding-top: 0px;
    color: rgb(134, 129, 129);
    font-size: 10px;
}
.invalid-feedback{
    color: red;
    font-size: 10px;
    margin-top: -20px;
}

@media screen and (max-width: 900px){
    .image-block{
        display: none;
    }
    .main{
        width: 450px;
    }
}
@media screen and (max-width: 600px) {
    .main{
        width: 100%;
        height: 100%;
        border: none;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
    }    
    #username{
        width: 90%;
    }
    .name{
        width: 95%;
        flex-direction: column;
    }
    .second-name{
        margin-left: 0px;
    }
    .last-name{
        width: 95%;
    }
    .example-button-row{
        width: 95%;
    }
    .form-register{
        width: 100%;
    }
}