@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
.menu{
  height: 25px;
}
.mat-toolbar{
  background-color: #fff;
  border: 1px solid rgb(249, 244, 244);
}
.logo{
  margin-left: 5px;
  height: 40px;
}
.input-bar{
  width: 40%;
  background-color: rgb(249, 247, 247);
  margin-left: 100px;
  border-radius: 5px;
  height: 50px;
}
.input-bar > input:active{
  background: transparent;
  border: none;
  outline: none;
}
#input-bar{
  font-family: 'Open Sans', sans-serif;;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(249, 247, 247);
  font-size: 15px;
  font-weight: bold;
}