<div class="main-top" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
    <div class="main" fxLayout="column" fxLayoutAlign="start center" ngClass.xs="main-xs">
        <div class="all-entity" ngClass.xs="all-entity-xs">
            <div class="login-heading" fxLayout="column" fxLayoutAlign="space-around center">
                <h2><strong><span><span class="f-blue">F</span><span class="u-red">u</span><span
                                class="n-yellow">n</span><span class="d-blue">d</span><span
                                class="o-green">o</span><span class="o-red">o</span></span></strong></h2>
                <h1>Forgot password</h1>
                <h4>Enter your email</h4>
            </div>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="login-form" fxLayout="column" fxLayoutAlign="start center">
                    <div class="form-input" ngclass="form-input-xs">
                        <mat-form-field appearance="outline" ngClass.xs="email-xs">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email">
                        </mat-form-field>
                        <p class="invalid-feedback" *ngIf="submitted && f['email']?.errors?.['required']">Enter email</p>
                        <p class="invalid-feedback" *ngIf="submitted && f['email']?.errors?.['email']">Entered email is not valid</p>
                    </div>
                    <div class="login-button" fxLayout="row" fxLayoutAlign="space-between end">
                        <div id="create-button" class="example-button-row">
                            <button routerLink="/register" mat-button color="primary">Create account</button>
                        </div>
                        <div class="example-button-row">
                            <button type="submit" mat-raised-button color="primary">Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>