<div class="main-top" fxLayout="column" fxLayoutAlign="center center">
    <div class="main" fxLayout="column" fxLayoutAlign="center center">
        <div class="login-heading" fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Fundoo</h2>
            <h1>Forgot password</h1>
            <h4>Create new password</h4>
        </div>
        <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
            <div class="form-input">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input type="password" matInput>
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </mat-form-field>
            </div>
            <div class="form-input">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
            </div>
            <div class="login-button"  fxLayout="row" fxLayoutAlign="space-between end">
                <div id="create-button" class="example-button-row">
                    <button mat-button color="primary">Create account</button>
                </div>
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>