.main{
    width: 430px;
    border: 1px solid rgb(196, 189, 189);
    border-radius: 6px;
    height: 70%;;
}
.main-top{
    height: 100%;
}
.mat-form-field{
    width: 350px;
}
.form-input{
    width: 100%;
    margin-top: 10px;
}
.login-button{
    width: 100%;
    height: 100px;
}
#create-button{
    margin-left: -13px;
}
.all-entity{
    margin-top:35px;
}
.login-heading > h4{
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.login-heading > h1{
    padding: 0px;
    margin: 0px;
}
/*FUNDOO logo colors*/
.f-blue{ color:#4285F4; }
.u-red{ color:#DB4437; }
.n-yellow{ color:#F4B400; }
.d-blue{color: #4285F4;}
.o-red{ color:#DB4437; }
.o-green{ color:#0F9D58; }
.invalid-feedback{
    color: red;
    font-size: 10px;
    margin-top: -20px;
}
.main-xs{
    border: none;
    width: 100%;
}
.all-entity-xs{
    width: 100%;
}
.form-input-xs{
    width: 90%;
}
.email-xs{
    width: 100%;
}