<div class="main-top" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="main-top-xs" fxLayoutAlign.xs="start center">
    <div class="main" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="main-xs" fxLayoutAlign.xs="start center">
        <div class="login-heading" fxLayout="column" fxLayoutAlign="space-around center">
            <h2><strong><span><span class="f-blue">F</span><span class="u-red">u</span><span
                            class="n-yellow">n</span><span class="d-blue">d</span><span class="o-green">o</span><span
                            class="o-red">o</span></span></strong></h2>
            <h1>Sign in</h1>
            <h4>Use your fundoo account</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" ngClass.xs="login-form-xs">
            <div class="login-form" fxLayout="column" fxLayoutAlign="center center">

                <div class="form-input" ngClass.xs="form-input-xs">
                    <mat-form-field appearance="outline" ngClass.xs="input-xs">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email">
                    </mat-form-field>
                    <div *ngIf="submitted && f['email'].errors">
                        <p *ngIf="f['email'].errors['required']" class="invalid-feedback">Enter email</p>
                        <p *ngIf="f['email'].errors['email']" class="invalid-feedback">Entered email is not valid</p>
                    </div>
                </div>
                <div class="form-input" ngClass.xs="form-input-xs">
                    <mat-form-field appearance="outline" ngClass.xs="input-xs">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                    <div *ngIf="submitted && f['password'].errors">
                        <p *ngIf="f['password'].errors['required']" class="invalid-feedback">Enter password</p>
                    </div>
                </div>
                <div id="forgot-button" class="example-button-row">
                    <button routerLink="/forgot" mat-button color="primary">Forgot password?</button>
                </div>
                <div class="learn-more">
                    <p>Not your computer? Use Guest mode to sign in privately.</p>
                </div>
                <div class="login-button" fxLayout="row" fxLayoutAlign="space-between end" ngClass.xs="login-button-xs">
                    <div id="create-button" class="example-button-row">
                        <button routerLink="/register" mat-button color="primary">Create account</button>
                    </div>
                    <div class="example-button-row">
                        <button type="submit" mat-raised-button color="primary">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>